/* 
    Document   : default
    Created on : 10.07.2013, 17:34:18
    Author     : Michael Hoffer <info@michaelhoffer.de>
    Description:
        Purpose of the stylesheet follows.
*/



.vflow-background {
    -fx-background-color: linear-gradient(to top, rgb(50,50,50), rgb(110,110,120));
}

.window {
    -fx-border-width: 1.5px;
    -fx-border-color: rgba(40,40,40,0.6);
    -fx-background-color : radial-gradient(center 50% 25%,
        radius 75%,
        rgba(82,82,82,0.9) 0%,
        rgba(22,22,22,0.9) 100%);
/*        rgba(122,122,122,0.9) 0%,
        rgba(82,82,82,0.9) 100%);*/

/*    -fx-background-radius: 12;
    -fx-border-radius: 12;*/

/*    -fx-effect: dropshadow(one-pass-box,
        rgba(0, 0, 0, 0.9),
        20, 0.0, 10, 10);*/
}

.window-titlebar {

    -fx-background-color: rgba(20,20,20,0.5);
    -fx-border-color: rgba(120,140,255,0.42);
    -fx-border-width: 0;
    -fx-padding: 6 4 3 4;
    -fx-background-insets: 0 0 -2 0;
    -fx-alignment: center;
    -fx-stroke: rgba(255,255,255,50);
    -fx-fill: rgba(255,255,255,50);
    
/*    -fx-background-radius: 12;
    -fx-border-radius: 12;*/
}




.vnode-connection {
    -fx-stroke: rgba(12, 220, 12, 0.75);
    -fx-stroke-width: 5px; 
    /*-fx-stroke-line-cap: round;*/

    -fx-effect: dropshadow(one-pass-box,
        rgba(0, 0, 0, 0.9),
        10, 0.0, 0, 0);
}

.vnode-new-connection {
    -fx-stroke: rgba(220, 220, 220, 0.75);
    -fx-stroke-width: 5px; 
    /*-fx-stroke-line-cap: round;*/

    -fx-effect: dropshadow(one-pass-box,
        rgba(0, 0, 0, 0.9),
        10, 0.0, 0, 0);
}

.vnode-connection-control {
    -fx-stroke: rgba(255, 255, 10, 0.75);
    -fx-stroke-width: 5px; 
    /*-fx-stroke-line-cap: round;*/

/*    -fx-effect: dropshadow(one-pass-box,
        rgba(0, 0, 0, 0.9),
        7, 0.0, 0, 0);*/
}

.vnode-new-connection-control {
    -fx-stroke: rgba(255, 255, 10, 0.75);
    -fx-stroke-width: 5px; 
    /*-fx-stroke-line-cap: round;*/
    
/*    -fx-effect: dropshadow(one-pass-box,
        rgba(0, 0, 0, 0.9),
        7, 0.0, 0, 0);*/
}

.vnode-connection-event {
    -fx-stroke: rgba(10, 255, 10, 0.75);
    -fx-stroke-width: 5px; 
    /*-fx-stroke-line-cap: round;*/

/*    -fx-effect: dropshadow(one-pass-box,
        rgba(0, 0, 0, 0.9),
        7, 0.0, 0, 0);*/
}


.vnode-new-connection-event {
    -fx-stroke: rgba(10, 255, 10, 0.75);
    -fx-stroke-width: 5px; 
    /*-fx-stroke-line-cap: round;*/
    
/*    -fx-effect: dropshadow(one-pass-box,
        rgba(0, 0, 0, 0.9),
        7, 0.0, 0, 0);*/
}


.vnode-connector {
    -fx-fill: radial-gradient(center 50% 25%,
        radius 75%,
        rgb(122,120,125) 0%,
        rgb(40,40,40) 100%);

    -fx-effect: dropshadow(one-pass-box,
        rgba(0, 0, 0, 0.9),
        7, 0.0, 0, 0);
}


.vnode-connector-data {
    -fx-fill: radial-gradient(center 50% 25%,
        radius 75%,
        rgb(32,180,12) 0%,
        rgb(0,20,0) 100%); 
}


.vnode-connector-control {
    -fx-fill: radial-gradient(center 50% 25%,
        radius 75%,
        rgb(255,255,10) 0%,
        rgb(40,40,40) 100%);

/*    -fx-effect: dropshadow(one-pass-box,
        rgba(0, 0, 0, 0.9),
        7, 0.0, 0, 0);*/
}

.vnode-connector-event {
    -fx-fill: radial-gradient(center 50% 25%,
        radius 75%,
        rgb(10,255,10) 0%,
        rgb(40,40,40) 100%);

/*    -fx-effect: dropshadow(one-pass-box,
        rgba(0, 0, 0, 0.9),
        7, 0.0, 0, 0);*/
}

.segment-background {
    -fx-background-color: rgba(20,20,20,0.7);
}


.input-field {
    -fx-background-image: url("input-field-01-bg.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 14;
}


.chart-title {
  -fx-text-fill: rgb(220,220,200);
  -fx-font-size: 1.6em;
}
 
.axis-label {
  -fx-text-fill: rgb(220,220,200);
}

/*.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}*/
.chart-alternative-row-fill {
    -fx-fill: rgba(120,120,120,0.1);
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

